// labels
$labels_largest: 150px;
$labels_huge: 80px;
$labels_big: 60px;
$labels_medium: 45px;
$labels_normal: 30px;
$labels_small: 20px;
$labels_tiny: 15px;

// text 
$text_normal: 30px;
$text_small: 20px;


// colors
$orange: #FBCC24; 
$white: white;
$dark: #262626;

// fonts
$SegoeUI: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.button {
    width: 300px;
    height: 60px;
    background: $orange;
    border-radius: 50px;
    color: $dark;
    font-size: $labels_small;
    letter-spacing: 1.5px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: .5s;
    @media (max-width: 700px) {
        width: 220px;
        height: 50px;
        font-size: $labels_tiny;
    }
    @media (max-width: 600px) {
        width: 180px;
        height: 40px;
        font-size: 12px;
    }
    @media (max-width: 450px) {
        width: 130px;
        height: 40px;
        letter-spacing: 1px;
        font-size: 10px;
    }
}
.button:hover {
    background: $dark;
    color: $orange;
}
